Tests: atomic
Depends: libboost-atomic1.67-dev, build-essential, cmake

Tests: chrono
Depends: libboost-chrono1.67-dev, libboost-system1.67-dev, build-essential, cmake

Tests: context
Depends: libboost-context1.67-dev, build-essential, cmake

Tests: datetime
Depends: libboost-date-time1.67-dev, build-essential, cmake

Tests: exception
Depends: libboost-exception1.67-dev, build-essential, cmake
Restrictions: allow-stderr

Tests: fiber
Depends: libboost-fiber1.67-dev, build-essential, cmake

Tests: filesystem
Depends: libboost-filesystem1.67-dev, build-essential, cmake

Tests: graph
Depends: libboost-graph1.67-dev, build-essential, cmake

Tests: graph-parallel
Depends: libboost-graph-parallel1.67-dev, libboost-mpi1.67-dev, libboost-system1.67-dev, mpi-default-dev, build-essential, libgraph-easy-perl, cmake

Tests: iostreams
Depends: libboost-iostreams1.67-dev, build-essential, cmake

Tests: locale
Depends: libboost-locale1.67-dev, build-essential, cmake

Tests: log
Depends: libboost-log1.67-dev, build-essential, cmake

Tests: math
Depends: libboost-math1.67-dev, build-essential, cmake

Tests: mpi
Depends: libboost-mpi1.67-dev, mpi-default-dev, build-essential, cmake

Tests: mpi-python
Depends: libboost-mpi-python1.67-dev, mpi-default-dev, python-minimal

Tests: program-options
Depends: libboost-program-options1.67-dev, build-essential, cmake

Tests: python
Depends: libboost-python1.67-dev, python-minimal, cmake, build-essential, clang

Tests: random
Depends: libboost-random1.67-dev, build-essential, cmake

Tests: regex
Depends: libboost-regex1.67-dev, build-essential, cmake, html2text

Tests: serialization
Depends: libboost-serialization1.67-dev, libboost-random1.67-dev, build-essential, cmake

Tests: signals
Depends: libboost-signals1.67-dev, build-essential, cmake

Tests: system
Depends: libboost-system1.67-dev, build-essential, cmake
Restrictions: allow-stderr

Tests: test
Depends: libboost-test1.67-dev, build-essential, cmake
Restrictions: allow-stderr

Tests: thread
Depends: libboost-thread1.67-dev, build-essential, cmake

Tests: timer
Depends: libboost-timer1.67-dev, build-essential, cmake

Tests: type-erasure
Depends: libboost-type-erasure1.67-dev, build-essential, cmake

Tests: wave
Depends: libboost-wave1.67-dev, libboost-thread1.67-dev, build-essential, cmake
