Source: boost
Section: libs
Priority: optional
Maintainer: Steve M. Robbins <smr@debian.org>
Uploaders: Domenico Andreoli <cavok@debian.org>
Build-Depends: python2.3-dev, debhelper (>= 4), flex-old, bison, docbook-to-man
Standards-Version: 3.6.1

Package: bjam
Architecture: any
Section: devel
Depends: ${shlibs:Depends}
Description: Software build tool
 Boost.Jam (BJam) is a portable build tool with its own interpreted language,
 which allows to implement rather complex logic in a readable way and without
 resorting to external programs. It is a descendant of Jam/MR tool modified to
 suit the needs of Boost.Build. In particular, modules and rule parameters
 were added, as well as several new builtins.
 .
 For more information on Boost.Jam visit the project homepage
 http://www.boost.org/tools/build/jam_src/ .

Package: libboost-dev
Architecture: any
Section: libdevel
Depends: libstdc++-dev, libboost-python-dev
Suggests: libboost-doc, libboost-date-time-dev, libboost-filesystem-dev, libboost-graph-dev, libboost-python-dev, libboost-regex-dev, libboost-signals-dev, libboost-test-dev, libboost-thread-dev
Description: Boost.org libraries development files
 The Boost web site provides free, peer-reviewed, portable C++ source
 libraries. The emphasis is on libraries which work well with the C++
 Standard Library. One goal is to establish "existing practice" and
 provide reference implementations so that the Boost libraries are
 suitable for eventual standardization. Some of the libraries have
 already been proposed for inclusion in the C++ Standards Committee's
 upcoming C++ Standard Library Technical Report.
 .
 For the following subprojects separate packages exist: 
 date-time, filesystem, graph, python, regex, signals, test, and thread.
 .
 For more information on boost visit the project homepage
 http://www.boost.org/ .

Package: libboost-doc
Architecture: all
Section: doc
Replaces: libboost-dev (<< 1.27.0-4)
Suggests: libboost-dev (=${Source-Version})
Description: Boost.org libraries documentation
 The Boost web site provides free, peer-reviewed, portable C++ source
 libraries. The emphasis is on libraries which work well with the C++
 Standard Library. One goal is to establish "existing practice" and
 provide reference implementations so that the Boost libraries are
 suitable for eventual standardization. Some of the libraries have
 already been proposed for inclusion in the C++ Standards Committee's
 upcoming C++ Standard Library Technical Report.
 .
 This is documentation for the libboost-dev package in HTML format.
 Some pages point to header files provided in libboost-dev package,
 so it is suggested to install the latter as well.
 .
 For more information on boost visit the project homepage
 http://www.boost.org/libs/ .

Package: libboost-date-time1.31.0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: Set of date-time libraries based on generic programming concepts
 Part of the Boost.org library collection.
 .
 These libraries are intended to make programming with dates and times
 almost as simple and natural as programming with strings and integers.
 .
 For more information on Date-Time visit the project homepage
 http://www.boost.org/libs/date_time/ .

Package: libboost-date-time-dev
Architecture: any
Section: libdevel
Depends: libboost-dev (=${Source-Version}), libboost-date-time1.31.0 (=${Source-Version})
Replaces: libboost-dev (<< 1.30.0-1)
Description: Set of date-time libraries based on generic programming concepts
 Part of the Boost.org library collection.
 .
 These libraries are intended to make programming with dates and times
 almost as simple and natural as programming with strings and integers.
 .
 For more information on Date-Time visit the project homepage
 http://www.boost.org/libs/date_time/ .

Package: libboost-filesystem1.31.0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: Filesystem operations (portable paths, iteration over directories, etc) in C++
 Part of the Boost.org library collection.
 .
 The Boost Filesystem Library provides portable facilities to query and 
 manipulate paths, files, and directories.  The goal is to
 facilitate portable script-like operations from within C++ programs.
 .
 For more information visit the project homepage
 http://boost.org/libs/filesystem/ .

Package: libboost-filesystem-dev
Architecture: any
Section: libdevel
Depends: libboost-dev (=${Source-Version}), libboost-filesystem1.31.0 (=${Source-Version})
Replaces: libboost-dev (<< 1.31.0-1)
Description: Filesystem operations (portable paths, iteration over directories, etc) in C++
 Part of the Boost.org library collection.
 .
 The Boost Filesystem Library provides portable facilities to query and 
 manipulate paths, files, and directories.  The goal is to
 facilitate portable script-like operations from within C++ programs.
 .
 For more information visit the project homepage
 http://boost.org/libs/filesystem/ .

Package: libboost-graph1.31.0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: Generic graph components and algorithms in C++
 Part of the Boost.org library collection.
 .
 Graphs are mathematical abstractions that are useful for solving
 many types of problems in computer science. Consequently, these
 abstractions must also be represented in computer programs. A
 standardized generic interface for traversing graphs is of utmost
 importance to encourage reuse of graph algorithms and data structures.
 .
 For more information on graph visit the project homepage
 http://www.boost.org/libs/graph/ .

Package: libboost-graph-dev
Architecture: any
Section: libdevel
Depends: libboost-dev (=${Source-Version}), libboost-graph1.31.0 (=${Source-Version})
Description: Generic graph components and algorithms in C++
 Part of the Boost.org library collection.
 .
 Graphs are mathematical abstractions that are useful for solving
 many types of problems in computer science. Consequently, these
 abstractions must also be represented in computer programs. A
 standardized generic interface for traversing graphs is of utmost
 importance to encourage reuse of graph algorithms and data structures.
 .
 For more information on graph visit the project homepage
 http://www.boost.org/libs/graph/ .

Package: libboost-python1.31.0
Architecture: any
Section: python
Depends: ${shlibs:Depends}
Description: Boost Python Library 
 Part of the Boost.org library collection.
 .
 The Boost Python Library is used to quickly and easily export a C++
 library to Python such that the Python interface is very similar to
 the C++ interface. It is designed to be minimally intrusive on your
 C++ design. In most cases, you should not have to alter your C++
 classes in any way in order to use them with Boost.Python.  The
 system should simply "reflect" your C++ classes and functions into
 Python. The major features of Boost.Python include support for:
 Subclassing extension types in Python, Overriding virtual functions
 in Python, Member function Overloading, Automatic wrapping of
 numeric operators among others.
 .
 For more information on python library visit the project homepage
 http://www.boost.org/libs/python/ .

Package: libboost-python-dev
Architecture: any
Section: libdevel
Depends: libboost-dev (=${Source-Version}), libboost-python1.31.0 (=${Source-Version}), python2.3-dev
Replaces: libboost-dev (<< 1.31.0-3)
Description: The Boost Python Library development files
 Part of the Boost.org library collection.
 .
 The Boost Python Library is used to quickly and easily export a C++
 library to Python such that the Python interface is very similar to
 the C++ interface. It is designed to be minimally intrusive on your
 C++ design. In most cases, you should not have to alter your C++
 classes in any way in order to use them with Boost.Python.  The
 system should simply "reflect" your C++ classes and functions into
 Python. The major features of Boost.Python include support for:
 Subclassing extension types in Python, Overriding virtual functions
 in Python, Member function Overloading, Automatic wrapping of
 numeric operators among others.
 .
 For more information on python library visit the project homepage
 http://www.boost.org/libs/python/ .

Package: libboost-regex1.31.0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: Regular expression library for C++
 Part of the Boost.org library collection.
 .
 Regular expressions are a form of pattern-matching that are often
 used in text processing; many users will be familiar with the Unix
 utilities grep, sed and awk, and the programming language perl, each
 of which make extensive use of regular expressions. Traditionally C++
 users have been limited to the POSIX C APIs for manipulating regular
 expressions, and while regex does provide these APIs, they do not
 represent the best way to use the library. For example regex can cope
 with wide character strings, or search and replace operations (in a
 manner analogous to either sed or perl), something that traditional C
 libraries can not do.
 .
 For more information on regex visit the project homepage
 http://www.boost.org/libs/regex/ .

Package: libboost-regex-dev
Architecture: any
Section: libdevel
Depends: libboost-dev (= ${Source-Version}), libboost-regex1.31.0 (= ${Source-Version})
Description: Regular expression library for C++
 Part of the Boost.org library collection.
 .
 Regular expressions are a form of pattern-matching that are often
 used in text processing; many users will be familiar with the Unix
 utilities grep, sed and awk, and the programming language perl, each
 of which make extensive use of regular expressions. Traditionally C++
 users have been limited to the POSIX C APIs for manipulating regular
 expressions, and while regex does provide these APIs, they do not
 represent the best way to use the library. For example regex can cope
 with wide character strings, or search and replace operations (in a
 manner analogous to either sed or perl), something that traditional C
 libraries can not do.
 .
 For more information on regex visit the project homepage
 http://www.boost.org/libs/regex/ .

Package: libboost-signals1.31.0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: Managed signals and slots library for C++
 Part of the Boost.org library collection.
 .
 Signals represent callbacks with multiple targets, and are also
 called publishers or events in similar systems. Signals are connected
 to some set of slots, which are callback receivers (also called event
 targets or subscribers), which are called when the signal is
 "emitted."
 .
 For more information on signals visit the project homepage
 http://www.boost.org/libs/signals/ .

Package: libboost-signals-dev
Architecture: any
Section: libdevel
Depends: libboost-dev (= ${Source-Version}), libboost-signals1.31.0 (= ${Source-Version})
Description: Managed signals and slots library for C++
 Part of the Boost.org library collection.
 .
 Signals represent callbacks with multiple targets, and are also
 called publishers or events in similar systems. Signals are connected
 to some set of slots, which are callback receivers (also called event
 targets or subscribers), which are called when the signal is
 "emitted."
 .
 For more information on signals visit the project homepage
 http://www.boost.org/libs/signals/ .

Package: libboost-test1.31.0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: Components for writing and executing test suites
 Part of the Boost.org library collection.  The library contains
 several components.
 .
  * Basic execution, error detection, and reporting facility.
  * Facilities to monitor program execution and produce error reports.
  * Unit test framework to simplify writing test cases.
 .
 For more information on Boost.Test visit the project homepage
 http://www.boost.org/libs/test/ .

Package: libboost-test-dev
Architecture: any
Section: libdevel
Depends: libboost-dev (= ${Source-Version}), libboost-test1.31.0 (= ${Source-Version})
Replaces: libboost-dev (<< 1.30.0-1)
Description: Components for writing and executing test suites
 Part of the Boost.org library collection.  The library contains
 several components.
 .
  * Basic execution, error detection, and reporting facility.
  * Facilities to monitor program execution and produce error reports.
  * Unit test framework to simplify writing test cases.
 .
 For more information on Boost.Test visit the project homepage
 http://www.boost.org/libs/test/ .

Package: libboost-thread1.31.0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: Portable C++ multi-threading
 Part of the Boost.org library collection.
 .
 Toolkit for writing C++ programs that execute as multiple,
 asynchronous, independent, threads-of-execution. Each thread has its
 own machine state including program instruction counter and
 registers.
 .
 For more information on Boost.Threads visit the project homepage
 http://www.boost.org/libs/thread/ .

Package: libboost-thread-dev
Architecture: any
Section: libdevel
Depends: libboost-dev (= ${Source-Version}), libboost-thread1.31.0 (= ${Source-Version})
Replaces: libboost-dev (<< 1.30.0-1)
Description: Portable C++ multi-threading
 Part of the Boost.org library collection.
 .
 Toolkit for writing C++ programs that execute as multiple,
 asynchronous, independent, threads-of-execution. Each thread has its
 own machine state including program instruction counter and
 registers.
 .
 For more information on Boost.Threads visit the project homepage
 http://www.boost.org/libs/thread/ .
