#! /usr/bin/make -f

# DEB_BUILD_MAINT_OPTIONS = hardening=+all

# Boost libraries for which we want separate packages
# context is conditionally compiled because it is not supported yet on several architectures
# coroutine, and fiber depend on context, so they are also conditionally compiled
boost_libs := atomic chrono container contract date-time exception filesystem	\
              graph iostreams locale log math \
              program-options python random regex	\
              serialization stacktrace system test thread timer \
              type-erasure wave

# these are special cases, where /usr/lib name differs from Boost library name
boost_lib_log := log log_setup
boost_lib_math := math_c99 math_c99f math_tr1 math_tr1f
boost_lib_math_long_double := math_c99l math_tr1l
boost_lib_serialization := serialization wserialization
boost_lib_stacktrace := stacktrace_noop stacktrace_addr2line stacktrace_backtrace stacktrace_basic
boost_lib_test := prg_exec_monitor test_exec_monitor unit_test_framework

py2versions = $(shell pyversions -rv)
py3versions = $(shell py3versions -rv)
py2verids = $(subst .,,$(py2versions))
py3verids = $(subst .,,$(py3versions))
pyversions = $(py2versions) $(py3versions)
pyverids = $(py2verids) $(py3verids)

# These are special cases for suffixes.  Generally come from --python-buildid, so begin with a dash.
boost_suffixes_python := $(pyverids)

py2default = $(subst .,,$(shell pyversions -dv))
py3default = $(subst .,,$(shell py3versions -dv))

# Files that are generated by filtering a template
filtered_files = 

DPKG_EXPORT_BUILDFLAGS = 1
# empty if not for ceph building dependency
VENDOR := ceph-
# "usr" if not for ceph building dependency
install_prefix := opt/ceph

include /usr/share/dpkg/buildflags.mk
include /usr/share/dpkg/architecture.mk

%:
	dh $@ --with python2 --with python3

override_dh_auto_configure: user-config.jam make-debhelper

override_dh_auto_build: $(b2) b2.1
	$(JAM) $(JAM_WITHOUT) --without-python
	for pyver in $(pyversions); do \
		echo "Building Boost.Python for python version $$pyver"; \
		$(JAM) --build-dir=build-$$pyver --stagedir=stage-$$pyver --user-config=$(CURDIR)/user-config-$$pyver.jam --with-python python=$$pyver; \
	done

	cd $(bbv2dir) && ./bootstrap.sh --with-toolset=gcc
	cd tools/bcp && $(JAM)
	cd tools/inspect/build && $(JAM)
	cd tools/quickbook && $(JAM)

ifneq (,$(filter nodoc,$(DEB_BUILD_OPTIONS)))
	mkdir -p doc
else
	$(JAM_DOC) --build-dir=build-doc doc
endif

testsuite:
	cd status && $(JAM) $(JAM_WITHOUT)

override_dh_auto_clean: clean-debhelper
	-cd tools && $(JAM) clean
	-$(JAM) clean
	rm -rf tools/jam/src/bootstrap
	rm -rf tools/jam/src/bin.*
	rm -ff tools/jam/src/b2
	rm -rf tools/regression/build/bin
	rm -rf bin.v2 dist
	rm -rf user-config.jam
	rm -rf build-* user-config-*.jam stage-*
	rm -rf b2.1
	dh_auto_clean

override_dh_compress:
	dh_compress -X$(VENDOR)libboost$(PKGVERSION)-doc/doc

override_dh_install:
	$(JAM) --prefix=$(CURDIR)/debian/tmp/$(install_prefix) $(JAM_WITHOUT) \
		--libdir=$(CURDIR)/debian/tmp/$(install_prefix)/lib/$(DEB_HOST_MULTIARCH) \
		--without-python install
	for pyver in $(pyversions); do \
		$(JAM) --build-dir=build-$$pyver --stagedir=stage-$$pyver --user-config=$(CURDIR)/user-config-$$pyver.jam --prefix=$(CURDIR)/debian/tmp/$(install_prefix) \
			--libdir=$(CURDIR)/debian/tmp/$(install_prefix)/lib/$(DEB_HOST_MULTIARCH) \
			install --with-python python=$$pyver; \
	done

	# Install Boost.Build v2 & jam
	cd $(bbv2dir) && $(b2) install --with-examples --prefix=$(CURDIR)/debian/tmp/$(install_prefix) --libdir=$(CURDIR)/debian/tmp/$(install_prefix)/lib/$(DEB_HOST_MULTIARCH)
	mv debian/tmp/$(install_prefix)/share/boost-build/example debian/boost-build-examples

	find debian/tmp/$(install_prefix)/include debian/tmp/$(install_prefix)/share/boost-build -type f | xargs chmod 644
	find debian/tmp -name .cvsignore | xargs rm -f
	find debian -empty -type f | xargs rm -f

	# package libboost$(PKGVERSION)-dev
	dh_install -p$(VENDOR)libboost$(PKGVERSION)-dev \
	   debian/tmp/$(install_prefix)/include/boost \
	   $(install_prefix)/include

	if test $(install_prefix) != usr; then \
	   echo /$(install_prefix)/lib/$(DEB_HOST_MULTIARCH) > \
	      debian/$(VENDOR)libboost$(PKGVERSION)-dev/etc/ld.so.conf.d/$(VENDOR)libboost$(PKGVERSION)-$(DEB_HOST_MULTIARCH).conf; \
	fi

	dh_install -p$(VENDOR)libboost$(PKGVERSION)-tools-dev \
	   debian/tmp/$(install_prefix)/bin/b2 \
	   dist/bin/bcp \
	   dist/bin/inspect \
	   dist/bin/quickbook \
	   $(install_prefix)/bin
	dh_installman -p$(VENDOR)libboost$(PKGVERSION)-tools-dev b2.1 debian/bcp.1 debian/inspect.1 debian/quickbook.1
	dh_install -p$(VENDOR)libboost$(PKGVERSION)-tools-dev tools/boostbook/xsl/* $(install_prefix)/share/boostbook/xsl
	dh_install -p$(VENDOR)libboost$(PKGVERSION)-tools-dev tools/boostbook/dtd/* $(install_prefix)/share/boostbook/dtd
	dh_install -p$(VENDOR)libboost$(PKGVERSION)-tools-dev debian/tmp/$(install_prefix)/share/boost-build

	# package libboost-date-time$(PKGVERSION)-dev
	dh_installdocs -p$(VENDOR)libboost-date-time$(PKGVERSION)-dev libs/date_time/data

	# package libboost-doc
	mkdir -p debian/libboost$(PKGVERSION)-doc/$(install_prefix)/share/doc/libboost$(PKGVERSION)-doc
	cp -a doc debian/libboost$(PKGVERSION)-doc/$(install_prefix)/share/doc/libboost$(PKGVERSION)-doc
	# provide a constant symlink to the latest documents and examples
	dh_link -p$(VENDOR)libboost$(PKGVERSION)-doc \
	   $(install_prefix)/share/doc/libboost$(PKGVERSION)-doc/doc \
	   $(install_prefix)/share/doc/libboost-doc/doc
	dh_link -p$(VENDOR)libboost$(PKGVERSION)-doc \
	   $(install_prefix)/share/doc/libboost$(PKGVERSION)-doc/examples \
	   $(install_prefix)/share/doc/libboost-doc/examples

# Debian decorates the python-using libraries with a python version suffix ("-py27")
# Create symlinks for the upstream name to the default python version.
# There is a separate set of links for each Python major version.

	# Python2 compatibility links
	dh_link -p$(VENDOR)libboost-python$(PKGVERSION)-dev \
	   $(install_prefix)/lib/$(DEB_HOST_MULTIARCH)/libboost_python$(py2default).a \
	   $(install_prefix)/lib/$(DEB_HOST_MULTIARCH)/libboost_python.a
	dh_link -p$(VENDOR)libboost-python$(PKGVERSION)-dev \
	   $(install_prefix)/lib/$(DEB_HOST_MULTIARCH)/libboost_python$(py2default).so \
	   $(install_prefix)/lib/$(DEB_HOST_MULTIARCH)/libboost_python.so

	# Python3 compatibility links
	dh_link -p$(VENDOR)libboost-python$(PKGVERSION)-dev \
	   $(install_prefix)/lib/$(DEB_HOST_MULTIARCH)/libboost_python$(py3default).a \
	   $(install_prefix)/lib/$(DEB_HOST_MULTIARCH)/libboost_python3.a
	dh_link -p$(VENDOR)libboost-python$(PKGVERSION)-dev \
	   $(install_prefix)/lib/$(DEB_HOST_MULTIARCH)/libboost_python$(py3default).so \
	   $(install_prefix)/lib/$(DEB_HOST_MULTIARCH)/libboost_python3.so

	# Python3 old debian compat links
	dh_link -p$(VENDOR)libboost-python$(PKGVERSION)-dev \
	   $(install_prefix)/lib/$(DEB_HOST_MULTIARCH)/libboost_python$(py3default).a \
	   $(install_prefix)/lib/$(DEB_HOST_MULTIARCH)/libboost_python3-py$(py3default).a
	dh_link -p$(VENDOR)libboost-python$(PKGVERSION)-dev \
	   $(install_prefix)/lib/$(DEB_HOST_MULTIARCH)/libboost_python$(py3default).so \
	   $(install_prefix)/lib/$(DEB_HOST_MULTIARCH)/libboost_python3-py$(py3default).so

	dh_installexamples -p$(VENDOR)libboost$(PKGVERSION)-doc debian/boost-build-examples
	mkdir -p $(exampledir)
	cat debian/example-files | xargs cp -a --parents --target-directory=$(exampledir)
	find $(exampledir) -type f | xargs chmod 644

	find debian -iname '*.so.*' -type f -print0 | xargs -0 chrpath --delete
	dh_install --list-missing

override_dh_strip:
	dh_strip --dbgsym-migration='libboost1.55-dbg, libboost1.58-dbg, libboost1.61-dbg'

override_dh_shlibdeps:
	dh_shlibdeps -l"$(install_prefix)/lib/$(DEB_HOST_MULTIARCH)"

# set the number of build jobs
ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
  JOBS := -j$(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
endif

version_full := $(shell dpkg-parsechangelog | grep Version | cut -d' ' -f2)
version_upstream := $(shell echo $(version_full) | cut -d'-' -f1)
version_major := $(shell echo $(version_upstream) | cut -d'.' -f1,2)

PKGVERSION = $(version_major)
SOVERSION = $(version_upstream)


# Function to map Boost component name to set of shared library names
# Input: Boost component name
# Return: shared library names for the given Boost library
boost_lib = $(if $(boost_lib_$(1)), $(boost_lib_$(1)), $(1))

# Function to map Boost component name to set of suffixes for the library
# Input: Boost component name
# Return: suffixes for the given Boost component
boost_suffixes = $(if $(boost_suffixes_$(1)), $(boost_suffixes_$(1)),"")

# Helpers to make basic and decorated library names
# Input: library, suffix
# Return: base library filename for short or full name
mk_base_name = $(install_prefix)/lib/$(DEB_HOST_MULTIARCH)/libboost_$(subst -,_,$(1))$(2)

# Input: component
# Return: package name for shared library or development
mk_pkg_lib = $(VENDOR)libboost-$(1)$(SOVERSION)
mk_pkg_dev = $(VENDOR)libboost-$(1)$(PKGVERSION)-dev

# Helpers to generate debhelper input filenames.
# Input: component
# Return: prefix to debhelper filenames
mk_deb_lib = debian/$(call mk_pkg_lib,$(1))
mk_deb_dev = debian/$(call mk_pkg_dev,$(1))

# Helpers that update debhelper .install or .links files
# Input: component, library, suffix
# Output: none
mk_so_files = $(shell echo debian/tmp/$(call mk_base_name,$(2),$(3)).so.$(SOVERSION) >> $(call mk_deb_lib,$(1)).install)
mk_a_files = $(shell echo debian/tmp/$(call mk_base_name,$(2),$(3)).a >> $(call mk_deb_dev,$(1)).install)
mk_ln_files = $(shell echo $(call mk_base_name,$(2),$(3)).so.$(SOVERSION) $(call mk_base_name,$(2),$(3)).so >> $(call mk_deb_dev,$(1)).links)

# Specify the type of files/links to install.
# Special cases first, then general rule
boost_filetypes_exception = a
boost_filetypes_test_exec_monitor = a
boost_filetypes = $(if $(boost_filetypes_$(1)), $(boost_filetypes_$(1)),a so ln)

# Function that updates debhelper files for a given library
# Input: component, library, suffix
# Output: none
mk_files = $(foreach fn,$(call boost_filetypes,$(2)),$(call mk_$(fn)_files,$(1),$(2),$(3)))

# helpers to make and install lintian override files

# Input: package, override
add_override = echo $(1): $(2) >> debian/$(1).lintian-overrides;

# Input: override
add_dev_override = $(call add_override,$(VENDOR)libboost$(PKGVERSION)-dev,$(1))
add_doc_override = $(call add_override,$(VENDOR)libboost$(PKGVERSION)-doc,$(1))

# Input: component, lintian-warning
add_lib_override = $(call add_override,$(call mk_pkg_lib,$(1)),$(2))
add_libdev_override = $(call add_override,$(call mk_pkg_dev,$(1)),$(2))

# Input: package-name-base, versioned-package-name
cp_debhelper = for s in doc-base examples postinst prerm README.Debian; do \
	if test -f debian/$(1).$$s; then cp -f debian/$(1).$$s debian/$(2).$$s; fi; done

# Function that updates debhelper files for all libraries shipped.
mk_debhelper_files = \
	$(call add_dev_override,extra-license-file) \
	$(call add_doc_override,extra-license-file) \
	$(foreach l, $(boost_libs), \
		echo "making debhelper files for $(l)..."; \
		$(call add_lib_override,$(l),package-name-doesnt-match-sonames) \
		$(foreach ll, $(call boost_lib,$(l)), \
			$(foreach suf, $(call boost_suffixes,$(l)), \
				$(call mk_files,$(l),$(ll),$(suf)) \
			) \
		) \
	)

# use g++-7 by default
ifeq (,$(filter gcc=%,$(DEB_BUILD_OPTIONS)))
  gcc := /usr/bin/g++-7
else
  gcc := /usr/bin/g++-$(patsubst gcc=%,%,$(filter gcc=%,$(DEB_BUILD_OPTIONS)))
endif

toolset = 'using gcc : : @gcc@ : <compileflags>"$(CPPFLAGS)" <cflags>"$(CFLAGS)" <cxxflags>"$(CXXFLAGS) -Wno-unused-local-typedefs -std=c++17" <linkflags>"$(LDFLAGS)" ;'
TOOLSET_CONFIG = $(subst @gcc@,$(gcc),$(toolset))
BUILD_CONTEXT = yes
BUILD_LONG_DOUBLE = yes

DEB_BUILD_ARCH ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH)

ifeq ($(DEB_BUILD_ARCH), alpha)
BUILD_CONTEXT = no
else ifeq ($(DEB_BUILD_ARCH), arm)
BUILD_LONG_DOUBLE = no
else ifeq ($(DEB_BUILD_ARCH), armel)
BUILD_LONG_DOUBLE = no
else ifeq ($(DEB_BUILD_ARCH), armhf)
BUILD_LONG_DOUBLE = no
else ifeq ($(DEB_BUILD_ARCH), arm64)
BUILD_LONG_DOUBLE = no
JAM_OPT += pch=off
else ifeq ($(DEB_BUILD_ARCH), hppa)
BUILD_LONG_DOUBLE = no
BUILD_CONTEXT = no
else ifeq ($(DEB_BUILD_ARCH), ia64)
BUILD_CONTEXT = no
else ifeq ($(DEB_BUILD_ARCH), m68k)
BUILD_CONTEXT = no
else ifeq ($(DEB_BUILD_ARCH), mips)
BUILD_LONG_DOUBLE = no
else ifeq ($(DEB_BUILD_ARCH), mipsel)
BUILD_LONG_DOUBLE = no
else ifeq ($(DEB_BUILD_ARCH), mips64)
BUILD_CONTEXT = no
else ifeq ($(DEB_BUILD_ARCH), mips64el)
BUILD_CONTEXT = no
else ifeq ($(DEB_BUILD_ARCH), powerpcspe)
BUILD_CONTEXT = no
else ifeq ($(DEB_BUILD_ARCH), ppc64)
BUILD_CONTEXT = yes
else ifeq ($(DEB_BUILD_ARCH), ppc64el)
BUILD_CONTEXT = yes
else ifeq ($(DEB_BUILD_ARCH), s390)
BUILD_CONTEXT = no
else ifeq ($(DEB_BUILD_ARCH), s390x)
BUILD_CONTEXT = no
else ifeq ($(DEB_BUILD_ARCH), sh4)
BUILD_LONG_DOUBLE = no
BUILD_CONTEXT = no
else ifeq ($(DEB_BUILD_ARCH), sparc)
BUILD_CONTEXT = no
else ifeq ($(DEB_BUILD_ARCH), sparc64)
BUILD_CONTEXT = no
else ifeq ($(DEB_BUILD_ARCH), x32)
BUILD_CONTEXT = no
endif

ifeq ($(BUILD_CONTEXT), yes)
boost_libs += context coroutine fiber
else
JAM_WITHOUT += --without-context --without-coroutine --without-fiber
endif

ifeq ($(BUILD_LONG_DOUBLE), yes)
boost_lib_math += $(boost_lib_math_long_double)
else
JAM_OPT += --disable-long-double
endif

exampledir = debian/$(VENDOR)libboost${PKGVERSION}-doc/$(install_prefix)/share/doc/libboost$(PKGVERSION)-doc/examples
b2 = $(CURDIR)/b2
bbv2dir = $(CURDIR)/tools/build

# With --ignore-site-config, can probably drop Build-Conflicts on boost-build.
JAM = $(b2) $(JOBS) -d2 $(JAM_OPT) --layout=system --ignore-site-config --user-config=$(CURDIR)/user-config.jam debug-symbols=on
JAM_DOC = $(b2) $(JOBS) -d2 --ignore-site-config --user-config=$(CURDIR)/user-config-doc.jam




$(b2):
	./bootstrap.sh --with-icu=/usr --prefix=$(CURDIR)/debian/tmp/$(install_prefix) \
		--libdir=$(CURDIR)/debian/tmp/$(install_prefix)/lib/$(DEB_HOST_MULTIARCH) \
	  || cat bootstrap.log

b2.1: $(b2)
	help2man --name 'software build tool' --no-info $(b2) > $@

user-config.jam:
	echo $(TOOLSET_CONFIG) > $@
	for pyver in $(pyversions); do \
		cp $@ user-config-$$pyver.jam; \
		echo "using python : $$pyver : /usr ;" >> user-config-$$pyver.jam; \
	done
	echo "using boostbook ;" > user-config-doc.jam
	echo "using quickbook ;" >> user-config-doc.jam
	echo "using doxygen ;" >> user-config-doc.jam

$(filtered_files): % : %.in
	sed -e 's/@PKGVERSION@/$(PKGVERSION)/g' < $< > $@

clean-debhelper:
	rm -rf debian/*.install
	rm -rf debian/*.links
	rm -rf debian/*.lintian-overrides

# Make all the generated debhelper files.
make-debhelper: clean-debhelper $(filtered_files)
	@$(call mk_debhelper_files)
	@$(call cp_debhelper,libboost-dev,${VENDOR}libboost${PKGVERSION}-dev)
	@$(call cp_debhelper,libboost-doc,${VENDOR}libboost${PKGVERSION}-doc)
	@$(call cp_debhelper,libboost-python-dev,$(VENDOR)libboost-python$(PKGVERSION)-dev)

